# TypeScript
node_modules

# Cardano Node Artifacts
*.counter
*.skey
*.vkey
*.addr
/db
mainnet-byron-genesis.json
mainnet-config.json
mainnet-shelley-genesis.json
mainnet-topology.json

# Build Files 
client
server